<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-4"><img src="" alt="" /></div>
      <div class="col">
        <h1 class="text-white">
          MARCUS <br />
          PEREIRA
        </h1>
        <span>O SENHOR é o meu pastor; nada me faltará. Salmos 23:1 NAA 📖</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Sou desenvolvedor de software, nascido na cidade de Salvador-BA e possuo mais de
          <strong class="text-featured">06 anos</strong> de experiência no mercado de
          desenvolvimento; atuando com as seguintes liguagens: C#, Java, Javascript, Python Ruby e
          PHP.
        </p>
        <p>
          Dediquei minha carreira para me tornar um especialista em desenvolvimento web. Mas, já
          trabalhei com outros segmentos, como: Crawler, Scrapper, entre outros. Gosto da ideia de
          contribuir com software livre! Atualmente faço parte do core team do
          <a href="https://scanapi.dev" target="_blank" class="link">Scanapi</a> uma biblioteca
          E2E, feita em Python e que fornece meios de testar aplicações.
        </p>
        <p>
          No tempo livre, pesquiso as tendências do mercado de tecnologia e crio cursos e vídeo
          aulas para compartilhar conhecimento. Atualmente criei um treinamento 100% gratuito e
          disponibiliza-lo no Youtube. Basta clicar no botão
          <strong class="text-featured">FLASK MASTERCLASS</strong> para assistir às aulas.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col icons">
        <a href="https://twitter.com/marcuxyz" target="_blank">
          <i class="fa-brands fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/marcuxyz/" target="_blank">
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/marcuxyz" target="_blank">
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
        <a href="https://www.youtube.com/@MarcusPereira2022" target="_blank">
          <i class="fa-brands fa-youtube fa-2x"></i>
        </a>
      </div>
      <div class="col-6 col text-right">
        <a
          href="https://www.youtube.com/playlist?list=PLxIrGEv-x-afU0SA3TIaLn4sAqtLqse06"
          class="paper-btn btn-primary"
          target="_blank"
          ><i class="fa-solid fa-graduation-cap"></i> Flask Masterclass</a
        >
      </div>
    </div>
  </div>
</section>