<section class="section">
  <div class="container">
    <div class="col col-12">
      <h1>Mural</h1>
      <p>Visualize informações, atualizações de eventos e cursos.</p>
    </div>

    <div class="col col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title flex-between">
            <span class="text-featured"></span>
            <span class="text-featured"></span>
          </h4>
          <div class="card-text">
            <div class="card-text">
              <p class="margin-top-large">
               
              </p>
            </div>
            <p class="margin-top-large">
              <a href="https://github.com/marcuxyz/betravel-theme" class="link" target="_blank"
                ><i class="fa-solid fa-arrow-up-right-from-square"></i> betravel theme</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>