<section class="section">
  <div class="container">
    <div class="col col-12">
      <% flash.each do |_, msg| %>
        <div class="alert alert-secondary">
          <p class="text-center"> <%= msg %> </p>
        </div>
      <% end %>
      <% if @certificate.errors.any? %>
        <div class="alert alert-danger">
          <p class="text-danger">
            <ul>
              <% @certificate.errors.full_messages.each do | message | %>
                <li> <%= message %> </li>
              <% end %>
            </ul>
          </p>
        </div>
      <% end %>
      <h2>Emitir certificado de participação</h2>
      <p>
        Preencha os campos abaixo para poder emitir seu certificado de partipação do treinamento <span
          class="text-featured">Flask Masterclass</span>.</p>
    </div>
    
    <div class="col col-12">
      <div class="card margin-top-large">
        <div class="card-body">
          <div class="card-text">
            <form action="">
              <div class="row">
                <div class="col-12 col form-group">
                  <input type="text" name="name" class="input-block" id="name" placeholder="Insira o nome completo">
                </div>
                <div class="col-12 col form-group">
                  <input type="email" name="email" class="input-block" id="" placeholder="Insira seu e-mail">
                </div>
                <div class="col-12 col form-group">
                  <button class="btn-primary btn-small btn-block">Emitir certificado</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>